
body {
    background-color: #fff;
    margin: 0px;
    background-repeat: repeat-x;
    font-family: Verdana, Arial, sans-serif;
        font-size: .8em;
    padding-bottom: 200px;

}

p {
    line-height: 17px;
    margin: 11px 0 10px 0;
    padding: 0px;
    font-size: 1em;

}

h2 {
    color: #07068b;
    padding:8px;
    padding-left: 0px;
    font-size: 1.4em;
}
h4 {
    color: #000000;
    margin:0px;
    padding:0px;
    font-size: 1.2em;
}

ul {
    font-size: 10px;
    margin:1px;
    padding:5px;
    padding-left: 20px; 
    list-style-image: url(img/bullet_s.svg);
    background-position: 20% 0.4em;
    font-size: 1.2em;

}

li {
    font-size: 10px;
    margin:1px;
    padding:2px;
    list-style-image: url(img/bullet_s.svg);
    font-size: 1em;

}

li.award
   {
    font-size: 10px;
    margin:1px;
    padding:3px;
    list-style-image: url(img/ribbon.svg);
    font-size: 1em;

}
a.anchor{display: block; position: relative; top: -120px; visibility: hidden;}

a {
    color: #233b8b;
}
a:visited{
    color: #5B007B;
}

a:hover {
    text-decoration: none;
}

blockquote{
    background: #f1f3f4;
    color: #202020;
    padding: 16px;
}


/**** Main Container ***/


#wrap {
       margin-left: auto;
       margin-right: auto;
       width: 730px;
}

/**** Top ***/


#top {  
    position:fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 88px;
    color: #424242;
    overflow:hidden;
    background-color: #fff;
    border-bottom: 1px solid #eee;

}

#top h2 {
    letter-spacing: 2px;
    font-size: 2.2em;
    font-weight: normal;
    position: relative;
    margin: 0px;
    margin-left: 40px;
    top:15px;
    display:block;
    float:left;

}

#top h2 a {
    color: inherit;
    text-decoration: none;
}

#top h2 a:hover {
    color: white;
}


/**** Main Menu ***/


#menu {
    display: block;
    float:right;
}

#menu ul {
    margin: 0;
    list-style: none;
}

#menu li {
    display: block;
    float: left;
    white-space: nowrap;
}

#menu li a {
    font-size: 110%;
    display: block;
    padding: 28px 20px;
    text-decoration: none;
}

* html #menu a {width:1%;}

#menu li a:hover {
    color: #fff;
    background: #9B0000;
}

#menu li a.current {
    letter-spacing: 1px;
    color: gray;
}

#menu li a.current:hover {
    color: #fff;
}


/**** Content Container ***/


#content {
    width: 100%;
    margin-top:100px;
}



/**** Content ***/


.profile-pic {
    height: 145px;
    vertical-align: top;
}

#left ul {
    padding: 15px 0 15px 35px;
    margin:0;
}

#left li {
    margin-bottom:5px;
}

#left {
    width: 350px;
    float:left;
    display: block;
        margin-left: 20px;
    display: inline;
}


/**** Sidebar ***/


#right {
    width: 315px;
    float: right;
    display:block;
    margin-top: 10px;
}

#right .box {
    width: 280px;
    background: #F6F9FB;
    border: 1px solid #E1E1E1;
    padding:10px 10px 15px 10px;
    float: right;
}

#right .box h2 {
    font-size: 1.1em;
    margin: 0px 0 0px 0;
    padding:0px 0 5px 0;
}

#right .box a {
    margin: 10px 0 10px 0;
    color: #56677C;
    font-size: 10px;
}

#right .box p {
    margin: 5px 0 10px 0;
    line-height: 15px;
}

#right .box ul {
    padding: 0 0 7px 20px;
    margin:10px 0 10px 0;
}

#right .box li {
    margin-top:5px;
}


/**** Clear Div ***/


#clear {
    display: block;
    clear: both;
    width: 100%;
    height:1px;
    overflow:hidden;
}


/**** Footer ***/


#footer {
        margin: 40px auto 0 auto;
    text-align: center;
    border-top: dotted 1px gray;
    padding: 20px 0 20px 0;
    width: 70%;
}

#footer p {
    margin: 0px;
    padding: 0;
}

p { line-height: 1.5 }

.supscript {
    position: relative;
    bottom: 0.5em;
    color: red;
    font-size: 0.8em;
}

.subscript {
    position: relative;
    top: 0.3em;
    color: blue;
    font-size: 0.8em;
}

